<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577317147729-o308v3au0aiou0i107ecvs99nehohuqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577317147729-o308v3au0aiou0i107ecvs99nehohuqf</string>
	<key>API_KEY</key>
	<string>AIzaSyDt6aAyTfv0f4f8hUYYXNB1yAJiax3lhGY</string>
	<key>GCM_SENDER_ID</key>
	<string>577317147729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.course.fbproject.firebaseproject</string>
	<key>PROJECT_ID</key>
	<string>fluttercp-9db55</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercp-9db55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577317147729:ios:566d02e1eb9f349b27d470</string>
</dict>
</plist>